* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: rob-regular;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: rob-thin;
    src: url(../fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: rob-medium;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: gar-medium;
    src: url(../fonts/garamont/CormorantGaramond-Medium.ttf);
}

@font-face {
    font-family: gar-regular;
    src: url(../fonts/garamont/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: gar-light;
    src: url(../fonts/garamont/CormorantGaramond-Light.ttf);
}

@font-face {
    font-family: gar-bold;
    src: url(../fonts/garamont/CormorantGaramond-Bold.ttf);
}

body {
    background-color: #222222;
    font-family: rob-regular;
}

nav {
    background-color: #ffffffe0;
    width: 100%;
    height: 100px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.logo {
    background-image: url(../images/Corporate-logo-400_200px-4648879c.png);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: rob-medium;
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #686868;
    font-size: 15px;
}

nav ul li:hover, nav ul li:active {
    text-decoration: none;
    color: #366477;
    border-bottom: 1px solid #a4aaad71;
}

.div_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_div {
    width: 60%;
    height: 250px;
    background-color: #121212;
    margin-top: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.header_div h4 {
    border-bottom: 2px solid #6969696b;
    font-size: 45px;
    font-family: gar-light;
    width: 80%;
    text-align: center;
    text-shadow: 4px 4px #000;
    padding-bottom: 8px;
    /* text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5); */
}

.header_div p {
    font-size: 20px;
    font-family: rob-medium;
    width: 80%;
    text-align: center;
    
}

.read_button {
    border-radius: 3px;
    background-color: #18384E;
    border: 1px solid #fff;
    color: #fff;
    font-family: rob-regular;
    font-size: 14px;
    width: auto;
    height: 45px;
    padding: 0 20px 0 20px;
}

.read_button:hover {
    background-color: #DFB512;
    color: #000;
}

.zone_1 .read_button {
    margin-left: 150px;
}

.d_grid_2 {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    padding-left: 50px;
}

.d_grid_2 .d_grid_2_text h5, .blue_big_div .grid_a .txt_a .sp1 {
    font-size: 42px;
    font-family: gar-light;
    width: 80%;
    text-align: left;
    color: #DFB512;
}

.d_grid_2 .d_grid_2_text p {
    font-size: 16px;
    font-family: rob-regular;
    width: 90%;
    text-align: left;
    color: #DFB512;
    text-align: justify;
    
}

.d_grid_2 .d_grid_2_text hr {
    margin: 25px 0  20px 0;
    width: 25%;
}

.d_grid_2 img {
    /* aspect-ratio: 1:1; */
    height: 380px;
    width: 400px;
}

.d_grid_2 .d_grid_2_text p span {
    font-size: 42px;
    font-family: gar-light;
    position: relative;
    top: 12px;
}

.blue_big_div {
    background-color: #1d3b47;
    width: 100%;
    height: auto;
    padding: 75px 0 75px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.blue_big_div h6 {
    color: #DFB512;
    text-align: center;
    font-family: rob-thin;
    font-size: 35px;
}

.d_grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    border-top: 5px solid #ddd;
    width: 95%;
    padding-top: 25px;
    color: #fff;
}

.d_grid_3 .zone_1 .image_1, .d_grid_3 .zone_1 .image_2, .d_grid_3 .zone_1 .image_3 {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.d_grid_3 .zone_1 .image_1 {
    background-image: url(../images/coworking-office-team-standing-and-discussing-diag-STNRXWM-31fddf41.jpeg);
}

.d_grid_3 .zone_1 .image_2 {
    background-image: url(../images/close-up-of-industrial-bricklayer-installing-brick-P99HVE8-4f9f6a5a.jpeg);
}

.d_grid_3 .zone_1 .image_3 {
    background-image: url(../images/signing-legal-document-PSE9PFT-068b3093.jpeg);
}

.d_grid_3 .zone_1 .p1 {
    font-family: gar-light;
    font-size: 25px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.d_grid_3 .zone_1 .p2 {
    font-family: rob-regular;
    font-size: 16px;
    text-align: justify;
    color: #ddd;
    margin-bottom: 20px;
}

.lien {
    color: rgb(37, 37, 160);
    cursor: wait;
}

.d_grid_3 .zone_1 .image_1:hover, .d_grid_3 .zone_1 .image_2:hover, .d_grid_3 .zone_1 .image_3:hover {
    background-size: 480px 480px;
    background-position: center;
    transition-duration: 1000ms;
}

.zone1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini_grid {
    display: grid;
    grid-template-columns: 500px 1fr;
    margin: 50px 90px;
    color: #ddd;
}

.mini_grid div h6 {
    font-family: gar-light;
    font-size: 65px;
    color: #3b3939;
}

.grid_a {
    display: grid;
    grid-template-columns: auto 1fr;
    color: #ddd;
    margin: 0 45px;
    column-gap: 40px;
}

.grid_b {
    display: grid;
    grid-template-columns: auto 1fr;
    color: #ddd;
    column-gap: 40px;
    height: auto;
    width: 80%;
}

.center {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 60px 35px 10px 0;
}

.blue_big_div .grid_a .txt_a .sp1 {
    text-shadow: 4px 4px #000;
}

.blue_big_div .grid_a .txt_a .sp2 {
    color: #DFB512;
    font-size: 25px;
    font-family: rob-regular;
}

.map {
    width: 100%;
    height: 300px;
    background-image: url(../images/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

.form_ {
    display: flex;
    font-family: rob-regular;
    gap: 12px;
    border-left: 5px solid #686868;
    padding-left: 100px;
}

.form_ .email_input{
    background-color: #222222;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #91919148;
    font-size: 18px;
    color: #c0c0c0;
    outline: none;
}

.form_ .email_input:hover, .form_ .email_input:active{
    outline: none;
}

.form_ .btn_input{
    width: 120px;
    height: 50px;
    border-radius: 3px;
    font-size: 18px;
    border: 1px solid #fff;
}

.form_ .btn_input:hover{
    background-color: #000;
    color: #fff;
}

.text_a1 {
    font-family: rob-regular;
    text-align: right;
}

.text_a1 span {
    font-size: 50px;
}

.img6 {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px 80px;
    background-color: #424242;
}

.img6 img {
    width: 160px;
    height: 80px;
}

.foot_div1 {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    column-gap: 145px;
    border-bottom: 5px solid #91919148;
    color: #ddd;
    width: 80%;
    padding: 0 0 110px 100px;
}

svg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

svg, video {
    vertical-align: middle;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgb(81, 81, 241);
}

.foot_div1 div p {
    border-bottom: 5px solid #91919148;
    font-family: gar-medium;
    font-size: 20px;
    padding-bottom: 15px;
}

.foot_div2 {
    text-align: center;
    color: #ddd;
}

i {
    border-bottom: 2px solid #91919148;
    padding-bottom: 6px;
    font-size: 18px;
    color: #fff;
}

i:hover {
    color: #ffffff57;
    cursor: pointer;
}

/* --------------------------------------------------- */


/* .d_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.zone1 img {
    width: 40%;
    height: 425px;
    border-radius: 10px;
}

.zone1 {
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 20px;
    display: flex;
}

.zone1 div p {
    color: #808080;
}

.zone1 button {
    width: 100px;
    height: 50px;
    border: 1px solid #c7c7c7;
    color: #fff;
    background-color: #366477;
    border-radius: 10px;
}

.zone1 button:hover {
    width: 100px;
    height: 50px;
    border: 1px solid #c7c7c7;
    color: #fff;
    background-color: #D5B853;
} */

/* --------------------------------------------------- */